
REDIS_PASSWORD=your_redis_password

MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=your_mongo_password

NEO4J_USER=neo4j
NEO4J_PASSWORD=your_neo4j_password

INFLUXDB_USER=admin
INFLUXDB_PASSWORD=your_influx_password
INFLUXDB_TOKEN=your_influxdb_token